!*.gitignore
public/uploads
public/cache/*
!public/cache/.gitignore
tmp
.DS_Store
public/system
public/javascripts/cache
public/stylesheets/cache
*.log
*.bak
script/pids
.*.swp
.*.swo
config/*.yml
config/application.god
config/deploy/*.rb
!config/deploy/sample.rb
*.pid
*.db
*.sqlite3
*.tmproj
